<!DOCTYPE html>

<html>

<head id="Head1"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><title>
	Appliances Online | Buy Online with Free Delivery
</title><meta name="description" content="We&#39;re Australia&#39;s largest online appliance retailer with a huge range of fridges, freezers, washers and more. Order now for free delivery to most areas."><meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no"><meta name="responsive" content="true"><link href="/apple-touch-icon-57x57.png" sizes="57x57" rel="apple-touch-icon" /><link href="/apple-touch-icon-114x114.png" sizes="114x114" rel="apple-touch-icon" /><link href="/apple-touch-icon-72x72.png" sizes="72x72" rel="apple-touch-icon" /><link href="/apple-touch-icon-144x144.png" sizes="144x144" rel="apple-touch-icon" /><link href="/apple-touch-icon-60x60.png" sizes="60x60" rel="apple-touch-icon" /><link href="/apple-touch-icon-120x120.png" sizes="120x120" rel="apple-touch-icon" /><link href="/apple-touch-icon-76x76.png" sizes="76x76" rel="apple-touch-icon" /><link href="/apple-touch-icon-152x152.png" sizes="152x152" rel="apple-touch-icon" /><link sizes="96x96" href="/favicon-96x96.png" type="image/png" rel="icon" /><link sizes="16x16" href="/favicon-16x16.png" type="image/png" rel="icon" /><link sizes="32x32" href="/favicon-32x32.png" type="image/png" rel="icon" /><link type="application/opensearchdescription+xml" rel="search" href="/osdd_file.xml" /><meta property="fb:page_id" content="133010562731"><meta name="wot-verification" content="eb52afbcfd4f68ef2fcc"><meta name="msapplication-TileImage" content="/mstile-144x144.png"><meta name="msapplication-TileColor" content="#da532c"><meta name="entitytype" content="15"><meta http-equiv="PICS-Label" content="(PICS-1.1 &quot;http://www.classify.org/safesurf/&quot; L gen true for &quot;www.appliancesonline.com.au&quot; r (SS~~000 1))"><meta property="fb:admins" content="582065863,730512259"><meta property="og:image" content="https://www.appliancesonline.com.au/images/new_site/head-logo.png"><meta property="og:url" content="https://www.appliancesonline.com.au"><meta property="og:type" content="company"><meta property="og:site_name" content="Appliances Online"><meta property="og:title" content="Appliances Online"><meta name="keywords" content="Appliances online, whitegoods, fridges, washers, dryers, dishwashers, microwaves, ovens, cooktops, rangehoods, coffee machines, barbeques, vacuums."><meta name="verify-v1" content="KFlpQSM8hM4CLgF9oRfRysmjqrH9UjauQdQ50FgWN/E=">
    <!-- to verify  access to the https version of AOL. added 28/04/2016. requested by Lucas. TO be removed after access has been verified. -->
    <meta name="google-site-verification" content="AcjKGYx8BHGBMBXgNv7kNecRaHyGHZBQQsVjKIF6H34">
        <script src="//localhost:35729/livereload.js"></script>
    
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu:400,700,|Ubuntu+Condensed::latin|PT+Sans+Narrow|Pacifico::latin|Open+Sans:400,600,700" />
            <script src="https://www.appliancesonline.com.au/js/head.js"></script>
            <link rel="stylesheet" type="text/css" href="/homepage_files/main.css" />

    <script type="text/javascript" src="https://www.appliancesonline.com.au/esi/variants/globaljs.ashx?v=eb4659e96c75072274e35a8dbe47007b"></script>

    </head>

<body ng-app="aol" aol-body ng-controller="AppController" ng-class="{ 'mobile-nav-menu-open': mobileNavMenuOpened, 'mobile-nav-menu-close': mobileNavMenuClosed, 'mobile-faq-menu-toggled': mobileFaqMenuToggled, 'mobile-my-cart-toggled': mobileMyCartToggled }" aol-window-resize breakpoint="{0:'xs', 520:'sm', 768:'md', 975:'lg', 1200:'xl'}">
    <!-- Start Top Navigation Bar -->
    <div id="top-navigation-bar-container" class="main-wrapper hidden-xs hidden-sm">
        <nav id="top-navigation-bar" class="main-inner">
            <ul class="top-navigation-bar-nav row" ng-class="{'myaccount-enabled': isMyaccountEnabled}">
                <div class="col-md-10">
                    <li class="top-navigation-bar-nav-item top-navigation-bar-nav-delivery"><a href="/appliances-online-delivery-service.aspx" target="{{isHeaderDisabled?'_blank':'_self'}}"><i class="icon-top-nav-freedelivery"></i>Free, next day delivery*</a></li>
                    <li class="top-navigation-bar-nav-item top-navigation-bar-nav-recycling"><a href="/why-buy-from-us.aspx#freeConnection" target="{{isHeaderDisabled?'_blank':'_self'}}"><i class="icon-top-nav-recycling"></i>Free connection, removal & recycling*</a></li>
                    <li class="top-navigation-bar-nav-item top-navigation-bar-nav-cs"><a href="/why-buy-from-us.aspx#customerSupport" target="{{isHeaderDisabled?'_blank':'_self'}}"><i class="icon-top-nav-customersupport"></i>Australian customer support</a></li>
                    <li class="top-navigation-bar-nav-item top-navigation-bar-nav-guarantee"><a href="/our-prices.aspx" target="{{isHeaderDisabled?'_blank':'_self'}}"><i class="icon-checkout-price"></i>Best value guarantee</a></li>
                    <li class="top-navigation-bar-nav-item top-navigation-bar-nav-aboutus"><a href="/about-appliances-online-australia" target="{{isHeaderDisabled?'_blank':'_self'}}">About Us</a></li>
                    <!-- Begin AOL login component for desktop; this is perhaps not the best way to go about this as component data is reset when you resize the viewport -->
                    <li class="top-navigation-bar-nav-item top-navigation-bar-nav-accounts" ng-if="isMyaccountEnabled && (breakpoint == 'md' || breakpoint == 'lg' || breakpoint == 'xl')">
                        <aol-login></aol-login>
                    </li>
                    <!-- End AOL Login component for desktop -->
                </div>
                <li class="top-navigation-bar-nav-item col-md-2"><h2 class="pull-right">1300 000 500</h2></li>
            </ul>
            <div class="call-us-arrow hidden-xs hidden-sm hidden-md">
                <img data-src="https://www.appliancesonline.com.au/images/fe/header/call-us-now-arrow.png"/>
            </div>
        </nav>

    </div>
    <!-- End Top Navigation Bar -->

    <!-- Start Header -->
    <header id="header-container" class="main-wrapper">
        <div id="header" class="main-inner">

            <!-- 01. HEADER MAIN -->
            <ul class="header-main-container">
                <li class="header-logo vcenter" ng-class="{'sale' : sale.logoImagePath && sale.logoImagePath!='', 'myaccount-enabled': isMyaccountEnabled}">

                    <!--logo sale background change-->
                    <a href="/sale/" target="_self" class="sale-link" ng-if="sale.logoImagePath && sale.logoImagePath!=''" ng-cloak>
                        <img class="header-bg-image sale" ng-src="https://www.appliancesonline.com.au{{sale.logoImagePath}}"/>
                    </a>
                    <!--end logo sale background change-->

                    <a  href="/" target="_self" class="aol-logo-link" title="Appliances Online | Kitchen, Home & Laundry">
                       <div class="aol-logo">
                       <!--svg is inline here because we want it to load first during page load, images load in the end normally -->
                            <?xml version="1.0" encoding="utf-8"?>
                            <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="-239.2 -8 244.3 51.7" enable-background="new -239.2 -8 244.3 51.7" xml:space="preserve">
                            <title  id="aol-logo-title">Buy appliances online from Australia&apos;s leading online appliances retailer</title>
                            <desc  id="aol-logo-desc">Buy Fridges, Washing Machines and Dishwashers Online</desc>
                            <path fill="#00B5CC" d="M-221.7-8c-9.6,0-17.4,7.8-17.4,17.4s7.8,17.4,17.4,17.4c9.6,0,17.4-7.8,17.4-17.4C-204.1-0.2-212-8-221.7-8
                                z M-215,6c-2.1-2.4-5.1-4-8.5-4c-6.2,0-11.2,5-11.2,11.2c0,1.1,0.2,2.2,0.5,3.2c-1.1-2.1-1.8-4.4-1.8-7c0-7.8,6.3-14.2,14.2-14.2
                                c5.5,0,10.2,3.1,12.6,7.6C-210.6,3.7-213.3,5.1-215,6z"/>
                            <g>
                                <path fill="#00274F" d="M-195.9,6.8c0.2-3.9,3.8-5.1,7.2-5.1c3,0,6.7,0.7,6.7,4.4v8c0,1.4,0.2,2.7,0.5,3.5h-4.3
                                    c-0.2-0.5-0.2-1-0.2-1.4c-1.3,1.4-3.3,1.9-5.1,1.9c-2.9,0-5.2-1.4-5.2-4.6c0-3.5,2.6-4.3,5.2-4.7c2.6-0.3,5-0.2,5-2
                                    s-1.2-2.1-2.7-2.1c-1.6,0-2.7,0.7-2.7,2.3h-4.2L-195.9,6.8L-195.9,6.8z M-186.2,9.9c-0.7,0.6-2.2,0.7-3.5,0.9
                                    c-1.3,0.2-2.5,0.7-2.5,2.2s1.2,2,2.6,2c3.3,0,3.5-2.6,3.5-3.5V9.9z M-180.6,2.1h3.9v2h0.1c1-1.6,2.7-2.4,4.6-2.4c4.8,0,7,3.9,7,8.3
                                    c0,4-2.2,8-6.7,8c-1.8,0-3.6-0.8-4.6-2.3h-0.1v7.3h-4.2V2.1z M-169.1,9.8c0-2.4-1-4.9-3.7-4.9c-2.7,0-3.6,2.5-3.6,4.9
                                    c0,2.5,1,4.8,3.7,4.8C-170.1,14.6-169.1,12.3-169.1,9.8z M-164.2,2.1h3.9v2h0.1c1-1.6,2.7-2.4,4.6-2.4c4.8,0,7,3.9,7,8.3
                                    c0,4-2.2,8-6.7,8c-1.8,0-3.6-0.8-4.6-2.3h-0.1v7.3h-4.2V2.1z M-152.9,9.8c0-2.4-1-4.9-3.7-4.9c-2.7,0-3.6,2.5-3.6,4.9
                                    c0,2.5,1,4.8,3.7,4.8C-153.7,14.6-152.9,12.3-152.9,9.8z M-147.7-3.8h4.2v21.1h-4.2V-3.8z M-137.7-0.3h-4.3v-3.5h4.2L-137.7-0.3
                                    L-137.7-0.3z M-142,2.1h4.2v15.3h-4.2V2.1z M-136.3,6.8c0.2-3.9,3.8-5.1,7.2-5.1c3,0,6.7,0.7,6.7,4.4v8c0,1.4,0.2,2.7,0.5,3.5h-4.3
                                    c-0.2-0.5-0.2-1-0.2-1.4c-1.3,1.4-3.3,1.9-5.1,1.9c-2.9,0-5.2-1.4-5.2-4.6c0-3.5,2.6-4.3,5.2-4.7c2.6-0.3,5-0.2,5-2
                                    s-1.2-2.1-2.7-2.1c-1.6,0-2.7,0.7-2.7,2.3h-4.3C-136.3,7.1-136.3,6.8-136.3,6.8z M-126.6,9.9c-0.7,0.6-2.2,0.7-3.5,0.9
                                    c-1.3,0.2-2.5,0.7-2.5,2.2s1.2,2,2.6,2c3.3,0,3.5-2.6,3.5-3.5V9.9z M-120.9,2.1h3.9v2.2h0.1c1-1.7,2.9-2.6,4.7-2.6
                                    c4.5,0,5.6,2.5,5.6,6.3v9.4h-4.2V8.7c0-2.5-0.8-3.8-2.7-3.8c-2.2,0-3.3,1.3-3.3,4.4v8h-4.2C-120.9,17.3-120.9,2.1-120.9,2.1z
                                        M-94.8,7.5c-0.2-1.7-1.4-2.7-3.1-2.7c-2.7,0-3.6,2.7-3.6,5c0,2.2,0.9,4.8,3.5,4.8c2,0,3.1-1.2,3.4-3.1h4c-0.5,4-3.4,6.3-7.4,6.3
                                    c-4.7,0-7.7-3.3-7.7-7.8c0-4.7,2.8-8.3,7.8-8.3c3.6,0,7,1.9,7.2,5.8C-90.7,7.5-94.8,7.5-94.8,7.5z M-85.9,10.8
                                    c0.1,2.7,1.4,3.9,3.8,3.9c1.7,0,3-1,3.4-2h3.7c-1.2,3.6-3.7,5.1-7.2,5.1c-4.8,0-7.8-3.4-7.8-8.1c0-4.6,3.2-8.1,7.8-8.1
                                    c5.2,0,7.7,4.4,7.4,9.2C-74.8,10.8-85.9,10.8-85.9,10.8z M-79.1,8.1c-0.3-2.2-1.3-3.3-3.4-3.3c-2.7,0-3.5,2.1-3.5,3.3H-79.1z
                                        M-70.9,12.4c0,1.8,1.5,2.6,3.3,2.6c1.2,0,2.7-0.5,2.7-2c0-1.3-1.7-1.7-4.7-2.4c-2.4-0.5-4.8-1.4-4.8-4c0-3.9,3.4-4.9,6.6-4.9
                                    c3.4,0,6.4,1.1,6.7,4.9H-65c-0.1-1.6-1.4-2.1-2.8-2.1c-1,0-2.3,0.2-2.3,1.4c0,1.5,2.4,1.7,4.7,2.2c2.5,0.6,4.8,1.4,4.8,4.3
                                    c0,4-3.5,5.3-7,5.3c-3.5,0-7.1-1.3-7.2-5.4H-70.9z"/>
                            </g>
                            <g>
                                <path fill="#00B5CC" d="M-44.4,9.7c0,4.4-2.6,8.1-7.2,8.1s-7.2-3.7-7.2-8.1s2.6-8.1,7.2-8.1C-47,1.7-44.4,5.4-44.4,9.7z M-57,9.7
                                    c0,3.3,1.8,6.5,5.3,6.5c3.5,0,5.3-3.3,5.3-6.5s-1.8-6.5-5.3-6.5C-55.3,3.2-57,6.5-57,9.7z M-43.5,2.2h1.9v2.7h0.1
                                    c0.7-1.8,2.7-3.1,4.9-3.1c4.3,0,5.6,2.2,5.6,5.9v9.8h-1.9V7.9c0-2.7-0.9-4.7-3.9-4.7c-2.9,0-4.7,2.2-4.8,5.2v8.9h-1.9V2.2z
                                        M-29.3-3.8h1.9v21.1h-1.9V-3.8z M-25.5-3.8h1.9v3h-1.9V-3.8z M-25.5,2.2h1.9v15.3h-1.9V2.2z M-21.9,2.2h1.9v2.7h0.1
                                    c0.7-1.8,2.7-3.1,4.9-3.1c4.3,0,5.6,2.2,5.6,5.9v9.8h-1.9V7.9c0-2.7-0.9-4.7-3.9-4.7c-2.9,0-4.7,2.2-4.8,5.2v8.9h-1.9
                                    C-21.9,17.3-21.9,2.2-21.9,2.2z M-6.7,10.3c0,2.7,1.4,6,5,6c2.7,0,4.2-1.6,4.8-3.9H5C4.2,15.9,2.2,18-1.6,18
                                    c-4.8,0-6.9-3.7-6.9-8.1c0-4,2.1-8.1,6.9-8.1c4.9,0,6.9,4.3,6.7,8.6L-6.7,10.3L-6.7,10.3L-6.7,10.3z M3.1,8.7
                                    C3.1,5.9,1.4,3.3-1.7,3.3s-4.7,2.7-5,5.4H3.1z"/>
                            </g>
                            <g>
                                <path fill="#939598" d="M-40.4,28.8v-1.5h1.2v1.5C-39.2,28.8-40.4,28.8-40.4,28.8z M-32.3,23.6c-0.2-1.1-1-1.8-2.2-1.8
                                    c-1.8,0-2.7,1.6-2.7,3.3c0,1.6,0.9,3.3,2.7,3.3c1.1,0,2.1-0.9,2.2-2.2h1c-0.2,1.8-1.4,2.9-3.2,2.9c-2.3,0-3.6-1.9-3.6-4
                                    s1.3-4,3.6-4c1.6,0,2.9,0.9,3.1,2.6L-32.3,23.6L-32.3,23.6z M-23.8,25c0,2.2-1.3,4-3.6,4s-3.6-1.9-3.6-4s1.3-4,3.6-4
                                    S-23.8,22.8-23.8,25z M-30,25c0,1.6,0.9,3.3,2.7,3.3s2.7-1.6,2.7-3.3c0-1.6-0.9-3.3-2.7-3.3S-30,23.4-30,25z M-23.3,21.2h0.9v1.3
                                    h0.1c0.5-1,1.3-1.5,2.5-1.5c1,0,1.9,0.5,2.2,1.4c0.4-1,1.4-1.4,2.4-1.4c1.6,0,2.5,0.9,2.5,2.7v5.1h-1v-5.1c0-1.3-0.5-2-1.8-2
                                    c-1.6,0-2.1,1.3-2.1,2.7v4.3h-1v-5.1c0-1-0.4-1.9-1.6-1.9c-1.6,0-2.2,1.2-2.3,2.8v4.3h-1v-7.6C-23.5,21.2-23.3,21.2-23.3,21.2z
                                        M-11.3,28.8v-1.5h1.2v1.5H-11.3z M-8.8,23.5c0.1-1.8,1.4-2.6,3.1-2.6c1.4,0,2.8,0.4,2.8,2.5v4c0,0.3,0.2,0.6,0.5,0.6
                                    c0.1,0,0.2,0,0.2-0.1v0.8c-0.2,0.1-0.3,0.1-0.6,0.1c-1,0-1.1-0.5-1.1-1.3c-0.7,1-1.3,1.5-2.7,1.5c-1.4,0-2.6-0.7-2.6-2.2
                                    c0-2.2,2.1-2.2,4.1-2.5c0.8-0.1,1.2-0.2,1.2-1c0-1.3-1-1.5-2-1.5c-1.1,0-2,0.5-2.1,1.8L-8.8,23.5L-8.8,23.5z M-3.7,24.7
                                    c-0.2,0.2-0.6,0.2-0.8,0.3C-6,25.2-8,25.2-8,26.7c0,1,0.9,1.5,1.7,1.5c1.4,0,2.7-0.9,2.7-2.4L-3.7,24.7L-3.7,24.7z M4.3,28.8H3.5
                                    v-1.4c-0.5,1-1.4,1.6-2.7,1.6c-1.9,0-2.7-1.1-2.7-2.9v-5h1v5c0.1,1.4,0.6,2.1,2.1,2.1c1.6,0,2.3-1.5,2.3-3.1v-4h1v7.7
                                    C4.5,28.8,4.3,28.8,4.3,28.8z"/>
                            </g>
                            <g>
                                <path fill="#00B5CC" d="M-191.4,41.1c0.2,0,0.4,0.2,0.3,0.4l-0.4,1.3c-0.1,0.2-0.3,0.4-0.6,0.4h-3.9c-0.2,0-0.4-0.2-0.3-0.4
                                    l3.9-11.6c0.1-0.2,0.3-0.4,0.6-0.4h1.6c0.2,0,0.4,0.2,0.3,0.4l-3.3,9.8h1.8L-191.4,41.1L-191.4,41.1z M-184.9,41.2
                                    c0.2,0,0.4,0.2,0.3,0.4l-0.4,1.2c-0.1,0.2-0.3,0.4-0.6,0.4h-3.9c-0.2,0-0.4-0.2-0.3-0.4l3.9-11.6c0.1-0.2,0.3-0.4,0.6-0.4h3.9
                                    c0.2,0,0.4,0.2,0.3,0.4l-0.4,1.2c-0.1,0.2-0.3,0.4-0.6,0.4h-1.8l-1.1,3.4h1.2c0.2,0,0.4,0.2,0.3,0.4l-0.2,0.9
                                    c-0.1,0.2-0.3,0.4-0.6,0.4h-1.4l-1,3.1h1.9v0.2H-184.9z M-175,33.4l-0.7,2.1c-0.1,0.2-0.3,0.4-0.6,0.4h-1.5c-0.2,0-0.4-0.2-0.3-0.4
                                    l0.8-2.2c0.1-0.3-0.2-0.4-0.3-0.4c-0.1,0-0.4,0-0.6,0.4l-2.6,7.7c-0.1,0.3,0.2,0.4,0.3,0.4c0.1,0,0.4,0,0.6-0.4l0.8-2.3
                                    c-0.2,0-0.4-0.2-0.3-0.4l0.2-0.4c0.1-0.2,0.3-0.4,0.6-0.4h2c0.2,0,0.4,0.2,0.3,0.4l-1.9,5.6h-0.7l0.1-0.6c-0.7,0.5-1.3,0.9-2.3,0.9
                                    c-0.8,0-1.4-0.2-1.8-0.7c-0.3-0.6-0.5-1.2-0.2-2.1l2.5-7.5c0.2-0.9,0.8-1.4,1.5-2.1c0.7-0.5,1.4-0.7,2.2-0.7s1.4,0.2,1.8,0.7
                                    C-174.7,32-174.7,32.5-175,33.4z M-171.3,41.2c0.2,0,0.4,0.2,0.3,0.4l-0.4,1.2c-0.1,0.2-0.3,0.4-0.6,0.4h-3.9
                                    c-0.2,0-0.4-0.2-0.3-0.4l3.9-11.6c0.1-0.2,0.3-0.4,0.6-0.4h3.9c0.2,0,0.4,0.2,0.3,0.4l-0.4,1.2c-0.1,0.2-0.3,0.4-0.6,0.4h-1.8
                                    l-1.1,3.4h1.2c0.2,0,0.4,0.2,0.3,0.4l-0.2,0.9c-0.1,0.2-0.3,0.4-0.6,0.4h-1.2l-1,3.1h1.7L-171.3,41.2L-171.3,41.2z M-160.1,31.3
                                    L-164,43c-0.1,0.2-0.3,0.4-0.6,0.4h-1.3c-0.2,0-0.4-0.2-0.4-0.4l0.7-6.3l-2.2,6.3c-0.1,0.2-0.3,0.4-0.6,0.4h-1.2
                                    c-0.2,0-0.4-0.2-0.3-0.4l3.9-11.6c0.1-0.2,0.3-0.4,0.6-0.4h1.4c0.2,0,0.4,0.2,0.4,0.4c-0.8,6.1-0.8,6.1-0.9,6.6l2.2-6.6
                                    c0.1-0.2,0.3-0.4,0.6-0.4h1.2C-160.2,30.8-160,31.1-160.1,31.3z M-153.4,33.8l-2.2,6.5c-0.2,0.9-0.9,1.6-1.6,2.2
                                    c-0.7,0.5-1.5,0.9-2.3,0.9h-2.4c-0.2,0-0.4-0.2-0.3-0.4l3.9-11.6c0.1-0.2,0.3-0.4,0.6-0.4h2.4c0.8,0,1.4,0.2,1.8,0.9
                                    C-153.2,32.2-153.1,33-153.4,33.8z M-155.8,33.4c0.1-0.3,0-0.5-0.2-0.5h-0.4l-2.8,8.4h0.4c0.2,0,0.5-0.2,0.6-0.5
                                    C-158.3,40.9-155.8,33.4-155.8,33.4z M-149.3,43.4h-1.6c-0.2,0-0.4-0.2-0.3-0.4l0.3-1.4h-1.3l-0.6,1.4c-0.2,0.2-0.4,0.4-0.7,0.4
                                    h-1.6c-0.2,0-0.3-0.2-0.2-0.4l5.9-11.6c0.1-0.2,0.4-0.4,0.7-0.4h1.6c0.2,0,0.4,0.2,0.4,0.4l-1.9,11.6
                                    C-148.8,43.1-149.1,43.4-149.3,43.4z M-150.6,39.6l1.2-4.9l-2.1,4.9C-151.4,39.6-150.6,39.6-150.6,39.6z M-142,43.4h-1.9
                                    c-0.1,0-0.1-0.2,0-0.6l1.3-3.8c0.1-0.3,0.1-0.5-0.2-0.5h-0.4l-1.4,4l-0.2,0.4c-0.1,0.2-0.3,0.4-0.6,0.4h-1.5
                                    c-0.2,0-0.4-0.2-0.3-0.4l3.9-11.6c0.1-0.2,0.3-0.4,0.6-0.4h2.4c0.8,0,1.4,0.2,1.7,0.9c0.3,0.5,0.4,1.3,0.2,2.1l-0.5,1.6
                                    c-0.2,0.8-0.9,1.4-1.5,2.1c0.5,0.5,0.4,1.3,0.2,2.1l-1,3.2C-141.5,43.1-141.2,43.4-142,43.4z M-140.8,33.4c0.1-0.3,0.1-0.5-0.2-0.5
                                    h-0.4l-1.2,3.5h0.4c0.3,0,0.5-0.2,0.6-0.5L-140.8,33.4z M-135.9,42.9c-0.1,0.2-0.3,0.4-0.6,0.4h-1.4c-0.2,0-0.4-0.2-0.3-0.4
                                    l1.5-4.7l0.1-6.9c0-0.2,0.2-0.4,0.5-0.4h1.4c0.2,0,0.4,0.2,0.4,0.4l-0.2,3.7l2.3-3.7c0.2-0.2,0.5-0.4,0.8-0.4h1.4
                                    c0.2,0,0.3,0.2,0.2,0.4l-4.6,6.9C-134.3,38.2-135.9,42.9-135.9,42.9z M-121.6,39.4l-0.5,1.4c-0.2,0.8-0.8,1.4-1.5,2.1
                                    c-0.6,0.4-1.4,0.7-2.2,0.7s-1.4-0.2-1.7-0.7c-0.4-0.6-0.5-1.2-0.2-2.1l0.4-1.5c0.1-0.2,0.3-0.4,0.6-0.4h1.4c0.2,0,0.4,0.2,0.3,0.4
                                    l-0.5,1.6c-0.1,0.3,0.2,0.3,0.3,0.3c0.1,0,0.4,0,0.5-0.3l0.5-1.5c0.2-0.5,0-0.6-0.3-1.2l-1.3-1.6c-0.3-0.4-0.4-1-0.2-1.7l0.5-1.5
                                    c0.2-0.8,0.8-1.4,1.5-2.1c0.7-0.4,1.3-0.7,2.2-0.7c0.9,0,1.4,0.2,1.7,0.7c0.4,0.6,0.4,1.3,0.2,2.1l-0.3,1.3
                                    c-0.1,0.2-0.3,0.4-0.6,0.4h-1.4c-0.2,0-0.4-0.2-0.3-0.4l0.5-1.4c0.1-0.3-0.1-0.4-0.2-0.4s-0.4,0.1-0.5,0.3l-0.5,1.4
                                    c-0.2,0.6,0.1,0.7,0.3,1.1l1.3,1.5C-121.2,38-121.2,38.5-121.6,39.4z M-116.2,41.2c0.2,0,0.4,0.2,0.3,0.4l-0.4,1.3
                                    c-0.1,0.2-0.3,0.4-0.6,0.4h-3.9c-0.2,0-0.4-0.2-0.3-0.4l3.9-11.6c0.1-0.2,0.3-0.4,0.6-0.4h3.9c0.2,0,0.4,0.2,0.3,0.4l-0.3,1.1
                                    c-0.1,0.2-0.3,0.4-0.6,0.4h-1.9l-1.1,3.4h1.2c0.2,0,0.4,0.2,0.3,0.4l-0.2,0.9c-0.1,0.2-0.4,0.5-0.6,0.5h-1.2l-1,3.1h1.7
                                    L-116.2,41.2L-116.2,41.2z M-109.3,43.4h-1.9c-0.1,0-0.1-0.2,0-0.6l1.3-3.8c0.1-0.3,0.1-0.5-0.2-0.5h-0.4l-1.4,4l-0.2,0.4
                                    c-0.1,0.2-0.3,0.4-0.6,0.4h-1.5c-0.2,0-0.4-0.2-0.3-0.4l3.9-11.6c0.1-0.2,0.3-0.4,0.6-0.4h2.4c0.8,0,1.4,0.2,1.7,0.9
                                    c0.3,0.5,0.4,1.3,0.2,2.2l-0.5,1.6c-0.2,0.8-0.9,1.4-1.5,2.1c0.5,0.5,0.4,1.3,0.2,2.1l-1,3.2C-108.8,43.1-108.6,43.4-109.3,43.4z
                                        M-108.1,33.4c0.1-0.3,0.1-0.5-0.2-0.5h-0.4l-1.2,3.5h0.4c0.3,0,0.5-0.2,0.6-0.5C-109,36-108.1,33.4-108.1,33.4z M-97.4,31.3
                                    l-5.8,11.6c-0.1,0.2-0.4,0.4-0.7,0.4h-1.7c-0.2,0-0.4-0.2-0.3-0.4l2-11.6c0.1-0.2,0.2-0.4,0.5-0.4h1.6c0.2,0,0.4,0.2,0.3,0.4
                                    c-1.7,7.3-1.7,7.3-1.9,7.8c0.2-0.4,0.2-0.4,3.4-7.8c0.1-0.2,0.4-0.4,0.7-0.4h1.6C-97.3,30.8-97.2,31.1-97.4,31.3z M-97.8,43.4h-1.5
                                    c-0.2,0-0.4-0.2-0.3-0.4l3.9-11.6c0.1-0.2,0.3-0.4,0.6-0.4h1.5c0.2,0,0.4,0.2,0.3,0.4L-97.2,43C-97.2,43.1-97.5,43.4-97.8,43.4z
                                        M-86.3,33.4l-0.6,2.1c-0.1,0.2-0.3,0.4-0.6,0.4H-89c-0.2,0-0.4-0.2-0.3-0.4l0.8-2.2c0.1-0.3-0.2-0.4-0.3-0.4c-0.1,0-0.4,0-0.6,0.4
                                    L-92,41c-0.1,0.3,0.2,0.4,0.3,0.4c0.1,0,0.4,0,0.6-0.4l0.7-2.2c0.1-0.2,0.3-0.4,0.6-0.4h1.5c0.2,0,0.4,0.2,0.3,0.4l-0.7,2
                                    c-0.2,0.9-0.8,1.4-1.5,2.1c-0.7,0.5-1.4,0.7-2.2,0.7c-0.8,0-1.4-0.2-1.8-0.7c-0.3-0.6-0.5-1.2-0.2-2.1l2.5-7.5
                                    c0.2-0.9,0.8-1.4,1.5-2.1c0.7-0.5,1.4-0.7,2.2-0.7c0.8,0,1.4,0.2,1.8,0.7C-86,32-86,32.5-86.3,33.4z M-82.9,41.2
                                    c0.2,0,0.4,0.2,0.3,0.4l-0.4,1.2c-0.1,0.2-0.3,0.4-0.6,0.4h-3.9c-0.2,0-0.4-0.2-0.3-0.4l3.9-11.6c0.1-0.2,0.3-0.4,0.6-0.4h3.9
                                    c0.2,0,0.4,0.2,0.3,0.4l-0.3,1.1c-0.1,0.2-0.3,0.4-0.6,0.4h-1.8l-1.1,3.4h1.2c0.2,0,0.4,0.2,0.3,0.4l-0.3,1
                                    c-0.1,0.2-0.3,0.4-0.6,0.4h-1.2l-1,3.1h1.6C-82.9,41-82.9,41.2-82.9,41.2z"/>
                            </g>
                            </svg>

                       </div>
                    </a>
                    <!-- Begin AOL account login for mobile viewport -->
                    <div class="hidden-xl hidden-lg hidden-md pull-right account-mobile-link" ng-if="isMyaccountEnabled && ( breakpoint=='xs' || breakpoint == 'sm' )"> <aol-login></aol-login> </div>
                    <!-- End AOL account login for mobile viewport -->
                </li><!--
                    --><li class="header-product-search vcenter" ng-controller="ProductSearchController">
                    <form class="search-form product-search-form" role="search" name="searchForm" method="get" ng-submit="searchProduct()" autocomplete="off">
                        <div class="input-wrapper search-input-wrapper">
                            <label for="search" class="label-search visuallyhidden">Enter your search keyword</label>
                            <autocomplete ng-model="result" class="ac-product-search" attr-placeholder="Search for a product" attr-name="search" attr-inputclass="input-search" click-activation="true" data="productResults" on-type="onType(typedthings)" on-select="onSelect(suggestion)" ng-enter="searchProduct()" autocomplete-required="true"  should-focus="true"  analytics-on="click" analytics-action="header" analytics-properties="{ category: 'Search', label: 'Focus' }">
                            </autocomplete>
                            <input class="input-search" ng-if="false" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="search" placeholder="Search for a product">
                            <button type="submit" name="searchSubmit" value="Submit" class="button-search icon-nav-search" value="Search" id="searchImage"></button>
                        </div>
                    </form>
                </li><!--
                --><li tooltips
                        tooltip-html-url="app/js/app/header/_partials/tooltip-postcode.html"
                        tooltip-background-color="#FFFFFF"
                        tooltip-border-color="#E6E6E6"
                        tooltip-bottom-shadow="true"
                        tooltip-side="bottom"
                        tooltip-size="small"
                        tooltip-speed="medium"
                        tooltip-speed="medium"
                        isolated-scope="true"
                        tooltip-width="200"
                        tooltip-always-show="{{ displayTooltip && locationSuggested }}"
                        tooltip-always-hide="{{ !(displayTooltip && locationSuggested) }}"
                        tooltip-show-triggers="none"
                        tooltip-hide-triggers="none"
                        class="header-postcode vcenter" ng-controller="PostcodesController"><!-- vcenter visible-lg-inline-block visible-xl-inline-block-->

                    <button class="header-button-location" ng-click="onButtonLocationClicked()" ng-show="!locationFormVisible" ng-disabled="isHeaderDisabled">
                        <i class="icon-nav-location pull-left"></i>
                        <span class="default-copy" ng-show="!locationSelected">Click to set location</span>
                        <div class="location-copy" ng-show="locationSelected"><!--
                            --><span class="location-copy-text" ng-cloak>
                                Delivery to:
                            </span><!--
                            --><span class="location-copy-postcode short-postcode suburb">{{selectedSuburb}}</span><!--
                            --><span class="location-copy-postcode short-postcode" id="selected-postcode"> {{selectedPostcode }}</span><!--
                            --></div>
                    </button>
                    <form class="location-form ng-hide" role="location" name="locationForm" ng-cloak ng-show="locationFormVisible" ng-submit="setPostcode()" autocomplete="off">
                        <div class="input-wrapper location-input-wrapper enter-location" >
                            <label for="location" class="label-location visuallyhidden">Enter your location</label>
                            <autocomplete desktop-postcode-search ng-model="result" class="ac desktop-postcode-search" attr-placeholder="Enter suburb or postcode" attr-assumesourcefiltered="true" attr-name="search" attr-inputclass="input-location" attr-inputid="input-postcode" click-activation="true" data="postcodes" on-type="onType(typedthings)" on-select="onSelect(suggestion)" autocomplete-required="true" should-focus="true" ng-cloak>
                            </autocomplete>
                            <button type="submit" name="searchSubmit" value="Submit" class="button-search icon-nav-search" value="Search" id="Submit1"></button>
                            <p id="location-warning-message hidden"></p>
                        </div>
                    </form>

                </li><!--
                --><li class="header-mcafee vcenter"><!-- visible-lg-inline-block visible-xl-inline-block-->
                    <a href="https://www.mcafeesecure.com/RatingVerify?ref=www.appliancesonline.com.au&amp;lang=AU&amp;cb=84" target="_blank" analytics-on="click" analytics-action="Homepage-Header-Mcafee-Logo" analytics-properties="{ category: 'Homepage-Performance', label: 'Mcafee-Logo-Clicked' }"  class="mcafee-link pull-left">
                        <span class="mcafee-logo"></span>
                    </a>
                </li><!--
                --><li class="header-shoppingcart vcenter"><!-- vcenter visible-md-inline-block visible-lg-inline-block visible-xl-inline-block-->
                        <!-- <button class="button button-orange button-my-chart pull-right"  ng-mouseover="toggleDesktopMyCart()" click-outside="cartVisible=false">-->
                        <button class="button fluid button-orange button-my-chart pull-right" id="myCartButton" ng-mouseover="openDesktopMyCart()" ng-disabled="isHeaderDisabled">
                            <div ng-cloak><span class="red-badge-top" ng-if="amountOfCartItems > 0 && !cartVisible">{{ amountOfCartItems }}</span></div>
                            <i class="icon-nav-shoppingcart pull-left"></i> <label>My Cart </label>
                        </button>
                </li>
            </ul>

             <!-- 02. MOBILE NAV BAR -->
             <div id="mobile-nav-bar-wrapper" class="mobile-nav-bar-container hidden-lg hidden-xl" controller="MobileNavBarCtrl" ng-class="{ 'hidden-xs hidden-sm hidden-md': isMenuDisabled}">
                 <div mobile-nav-bar target-top-element=".mobile-nav-bar-container" class="mobile-nav-bar row">
                     <div mobile-nav-bar-inner class="mobile-nav-bar-inner">

                        <!-- A. MOBILE SEARCH FORM -->
                        <form class="mobile-search-form" role="search" name="searchForm" method="get" ng-controller="ProductSearchController" ng-submit="searchProduct()" ng-cloak ng-class="{ 'active': mobileSearchTriggered}">
                            <div class="input-wrapper search-input-wrapper">
                                <button ng-click="showProductSearch()" class="mobile-close-button pull-left" type="button"><i class="icon-cart-small-cross"></i></button>
                                <label for="search" class="label-search visuallyhidden">Enter your search keyword</label>
                                <autocomplete mobile-product-search  ng-model="result" class="ac-product-search ac-mobile-product-search" attr-placeholder="Search for a product" attr-name="search" ng-enter="searchProduct()" attr-inputclass="input-search mobile-product-search" attr-inputid="mobile-product-search" click-activation="true" data="productResults" on-type="onType" on-select="onSelect" autocomplete-required="true" analytics-on="click" analytics-action="header" analytics-properties="{ category: 'Search', label: 'Focus' }">
                                   <!-- <input type="text" ng-model="searchParam" name="search" placeholder="Search for a product" class="ng-invalid ng-invalid-required ng-touched" ng-required="true" required="required">-->
                                </autocomplete>
                                <button ng-click="searchProduct()" class="mobile-search-button pull-right" type="button"><i class="icon-nav-search"></i></button>
                            </div>
                        </form>

                         <!-- B. MOBILE NAV BAR LIST -->
                         <ul class="mobile-nav-bar-list" ng-class="{ 'active': !mobileSearchTriggered }">
                            <!-- 01. Mobile Menu Button -->
                            <li class="mobile-nav-bar-list-item">
                                <button ng-click="toggleMobileNavMenu();" class="toggle-mobile-menu toggle-mobile-button" >
                                    <span class="bar-container">
                                        <span class="bar"></span><span class="bar"></span><span class="bar"></span>
                                    </span>
                                </button>
                            </li>
                            <!-- 02. Mobile Search Button -->
                            <li class="mobile-nav-bar-list-item hidden-md">
                                <button class="toggle-mobile-button" ng-click="showProductSearch()">
                                    <i class="icon-nav-search"></i>
                                </button>
                            </li>
                            <!-- 03. Mobile Faq Button -->
                            <li class="mobile-nav-bar-list-item">
                                <button ng-click="toggleMobileFaqMenu();" class="toggle-mobile-faq-menu toggle-mobile-button">
                                    <i class="icon-nav-mobile-faq"></i>
                                </button>
                            </li>
                            <!-- 04. Mobile Call us Button -->
                            <li class="mobile-nav-bar-list-item hidden-md">
                                <button type="button" onclick="location.href='tel:1300000500'" class="toggle-mobile-button" >
                                    <i class="icon-nav-mobile-call-us"></i>
                                </button>
                            </li>
                            <!-- 05. Mobile My Cart Button -->
                            <li class="mobile-nav-bar-list-item">
                                <button ng-click="toggleMobileMyCart();" class="toggle-mobile-my-cart toggle-mobile-button">
                                     <i class="icon-nav-shoppingcart"></i>
                                     <div ng-cloak><span class="red-badge-top" ng-show="amountOfCartItems">{{ amountOfCartItems }}</span></div>
                                </button>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </header>
    <!-- End Header -->

    <div id="fb-root"></div>

    <!-- Start My Cart -->
    <aol-my-cart ng-show="cartVisible" id="myCart" click-outside="closeDesktopMyCart()"></aol-my-cart>
    <!-- End My Cart -->

    <!-- Start Aol Mask -->
    <div aol-mask class="aol-mask" ng-controller="aolMaskCtrl" ng-class="{ 'active': mobileMenuToggled}" ng-click="onClick()">
    </div>
    <!-- End Aol Mask -->

    <!-- Mobile closing icon -->
    <span class="mobile-closing-icon" ng-controller="aolMaskCtrl" ng-cloak ng-class="{ 'mobile-closing-icon-left': mobileNavMenuOpened, 'mobile-closing-icon-right': (mobileMyCartToggled || mobileFaqMenuToggled) }" ng-click="onClick()"> <i class="icon-mobile-close-icon"> </i> </span>
    <!-- End mobile closing icon -->

    <!-- Start Main Navigation -->
    <div id="main-navigation-container" class="main-wrapper mobile-menu-push-left" ng-hide="isMenuDisabled" ng-class="{'megamenu-enabled': isMegamenuEnabled, 'megamenu-disabled': !isMegamenuEnabled}">
        <!-- IMPORTANT: This's a placeholder for initial load of the page - It's not the current nav and get replaced with the actual one as soon as angular has been loaded -->

        <!--<aol-main-navigation ng-if="isMegamenuEnabled"  ng-cloak>    
             <nav class="main-navigation main-inner" role="navigation"><ul class="main-navigation-items"><li class="main-navigation-item washersdryers"><a class="main-navigation-item-link"><i class="icon-nav-washers"></i><p class="nameLines"><span class="desktop-line">Washers</span><span class="desktop-line">&amp; Dryers</span></p></a></li><li class="main-navigation-item fridgesfreezers"><a class="main-navigation-item-link"><i class="icon-nav-fridges"></i><p class="nameLines"><span class="desktop-line">Fridges &amp;</span><span class="desktop-line">Freezers</span></p></a></li><li class="main-navigation-item dishwashers"><a class="main-navigation-item-link"><i class="icon-nav-dishwashers"></i><p class="nameLines"><span class="desktop-line">Dishwashers</span><span class="desktop-line">Sinks &amp; Taps</span></p></a></li><li class="main-navigation-item ovens"><a class="main-navigation-item-link"><i class="icon-nav-cooktops"></i><p class="nameLines"><span class="desktop-line">Ovens &amp;</span><span class="desktop-line">Cooking</span></p></a></li><li class="main-navigation-item tvaudio"><a class="main-navigation-item-link"><i class="icon-nav-tv-audio-electronics"></i><p class="nameLines"><span class="desktop-line">TV, Audio &amp;</span><span class="desktop-line">Electronics</span></p></a></li><li class="main-navigation-item heatcool"><a class="main-navigation-item-link"><i class="icon-nav-heating-cooling"></i><p class="nameLines"><span class="desktop-line">Heating</span><span class="desktop-line">&amp; Cooling</span></p></a></li><li class="main-navigation-item smallappliances"><a class="main-navigation-item-link"><i class="icon-nav-small-appliances"></i><p class="nameLines"><span class="desktop-line">Small</span><span class="desktop-line">Appliances</span></p></a></li><li class="main-navigation-item bbqs"><a class="main-navigation-item-link"><i class="icon-nav-bbqs"></i><p class="itemName">BBQs</p><p class="nameLines"></p></a></li><li class="main-navigation-item hot-offers"><a class="main-navigation-item-link"><i class="icon-nav-hotoffers"></i><p class="nameLines"><span class="desktop-line">Hot</span><span class="desktop-line">Offers</span></p></a></li></ul></nav>
        </aol-main-navigation> -->

        <aol-old-main-navigation>
            <!-- IMPORTANT: This's a placeholder for initial load of the page - It's not the current nav and get replaced with the actual one as soon as angular has been loaded -->

             <nav class="old-main-navigation main-inner" role="navigation"><ul class="main-navigation-items"><li class="main-navigation-item washersdryers"><a class="main-navigation-item-link"><i class="icon-nav-washers"></i><p class="nameLines"><span class="desktop-line">Washers</span><span class="desktop-line">&amp; Dryers</span></p></a></li><li class="main-navigation-item fridgesfreezers"><a class="main-navigation-item-link"><i class="icon-nav-fridges"></i><p class="nameLines"><span class="desktop-line">Fridges &amp;</span><span class="desktop-line">Freezers</span></p></a></li><li class="main-navigation-item dishwashers"><a class="main-navigation-item-link"><i class="icon-nav-dishwashers"></i><p class="nameLines"><span class="desktop-line">Dishwashers</span><span class="desktop-line">Sinks &amp; Taps</span></p></a></li><li class="main-navigation-item ovens"><a class="main-navigation-item-link"><i class="icon-nav-cooktops"></i><p class="nameLines"><span class="desktop-line">Ovens &amp;</span><span class="desktop-line">Cooking</span></p></a></li><li class="main-navigation-item tvaudio"><a class="main-navigation-item-link"><i class="icon-nav-tv-audio-electronics"></i><p class="nameLines"><span class="desktop-line">TV, Audio &amp;</span><span class="desktop-line">Electronics</span></p></a></li><li class="main-navigation-item heatcool"><a class="main-navigation-item-link"><i class="icon-nav-heating-cooling"></i><p class="nameLines"><span class="desktop-line">Heating</span><span class="desktop-line">&amp; Cooling</span></p></a></li><li class="main-navigation-item smallappliances"><a class="main-navigation-item-link"><i class="icon-nav-small-appliances"></i><p class="nameLines"><span class="desktop-line">Small</span><span class="desktop-line">Appliances</span></p></a></li><li class="main-navigation-item bbqs"><a class="main-navigation-item-link"><i class="icon-nav-bbqs"></i><p class="itemName">BBQs</p><p class="nameLines"></p></a></li><li class="main-navigation-item hot-offers"><a class="main-navigation-item-link"><i class="icon-nav-hotoffers"></i><p class="nameLines"><span class="desktop-line">Hot</span><span class="desktop-line">Offers</span></p></a></li></ul></nav>

        </aol-old-main-navigation>

    </div>
    <!-- End Main Navigation -->

    <!-- Start Faq Container-->
    <div id="faq-menu-container" class="hidden-lg hidden-xl mobile-menu-push-right">
        <nav class="faq-menu main-inner">
            <ul class="faq-menu-items row">
                <li class="faq-menu-item washers-dryers">
                    <a class="faq-menu-item-link" href="/home-laundry-equipment.aspx" target="_self">FAQ and Knowledge Base</a>
                </li>
                <li class="faq-menu-item washers-dryers">
                    <a class="faq-menu-item-link" href="/home-laundry-equipment.aspx" target="_self">Tradesman Directory</a>
                </li>
                <li class="faq-menu-item washers-dryers">
                    <a class="faq-menu-item-link" href="/home-laundry-equipment.aspx" target="_self">Warranty & Customer Care</a>
                </li>
                <li class="faq-menu-item washers-dryers">
                    <a class="faq-menu-item-link" href="/home-laundry-equipment.aspx" target="_self">Payment Options</a>
                </li>
                <li class="faq-menu-item washers-dryers">
                    <a class="faq-menu-item-link" href="/home-laundry-equipment.aspx" target="_self">Trading Terms</a>
                </li>
                <li class="faq-menu-item washers-dryers">
                    <a class="faq-menu-item-link" href="/home-laundry-equipment.aspx" target="_self">Privacy Policy</a>
                </li>
                <li class="faq-menu-item washers-dryers">
                    <a class="faq-menu-item-link" href="/home-laundry-equipment.aspx" target="_self">Appliance Installation</a>
                </li>
                <li class="faq-menu-item washers-dryers">
                    <a class="faq-menu-item-link" href="/home-laundry-equipment.aspx" target="_self">Return Policy</a>
                </li>
                <li class="faq-menu-item washers-dryers">
                    <a class="faq-menu-item-link" href="/home-laundry-equipment.aspx" target="_self">Manufacturers Showcase</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Start Page -->
    <div id="page-container" class="main-wrapper" role="main">
     
     <!--<a href="/sale/" target="_self" class="sale-link" ng-if="sale.logoImagePath && sale.logoImagePath!=''" ng-cloak>
            <img class="header-bg-image" ng-src="https://www.appliancesonline.com.au{{sale.logoImagePath}}"/>
     </a> -->
        
        <div class="main-inner">
            
        <!-- content here -->

		<!-- end content here -->
		
		</div>
	</div>
    <!-- End Page -->

    <!-- Start Footer -->
    <footer id="footer-container" class="main-wrapper">
        <div id="footer" class="main-inner">

            <!-- Start Footer Navigation -->
            <div class="footer-navigation row" ng-hide="isFooterDisabled">

                <!-- 01. Footer Navigation Services -->
                <div class="footer-navigation-services-container col-xs-12 col-sm-12 col-md-7 col-lg-5">
                    <nav class="footer-navigation-services">
                        <h4>Customer Service</h4>
                        <div class="row">
                            <div class="footer-navigation-group col-xs-6 col-sm-5">
                                <ul>
                                    <li class="footer-navigation-item"><a href="/appliances-online-delivery-service.aspx" target="_self">Delivery</a> & <a href="/legendary-service/" target="_self">Legendary Service</a></li>
                                    <li class="footer-navigation-item"><a href="/appliance-buying-guide.aspx" target="_self">Buying Guides</a></li>
                                    <li class="footer-navigation-item"><a href="/payment-method-options.aspx" target="_self">Payment Methods</a></li>
                                    <li class="footer-navigation-item"><a href="/product-reviews/" target="_self">Appliances Reviews</a></li>
                                </ul>
                            </div>
                            <div class="footer-navigation-group col-xs-6 col-sm-3">
                                <ul>
                                    <li class="footer-navigation-item"><a href="/appliances-online-faq-knowledgebase.aspx" target="_self">FAQ</a></li>
                                    <li class="footer-navigation-item"><a href="/about-rrp/" target="_self">What is RRP?</a></li>
                                    <li class="footer-navigation-item"><a href="/contact-appliances-online.aspx" target="_self">Contact Us</a></li>
                                    <li class="footer-navigation-item"><a href="/gift-vouchers.aspx" target="_self">Gift Vouchers</a></li>
                                </ul>
                            </div>
                            <div class="footer-navigation-group col-xs-12 col-sm-4">
                                <ul>
                                    <li class="footer-navigation-item"><a href="/promotions/" target="_self">Promotions</a></li>
                                    <li class="footer-navigation-item"><a href="/clearance-categories/" target="_self">Clearance Section</a></li>
                                    <li class="footer-navigation-item"><a href="/oven-cooktop-packages/" target="_self">Bundle Offers</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                </div>

                <!-- 02. Footer Navigation About Us -->
                <div class="footer-navigation-about-us-container col-xs-12 col-sm-12 col-md-5 col-lg-4 col-lg-offset-1">
                    <nav class="footer-navigation-about-us">
                        <h4>About Appliances Online</h4>
                        <div class="row">
                            <div class="footer-navigation-group col-xs-6 col-sm-4 col-md-6">
                                <ul>
                                    <li class="footer-navigation-item"><a href="/about-appliances-online-australia/" target="_self">About Us</a></li>
                                    <li class="footer-navigation-item"><a href="/appliances-online-commercial-division/" target="_self">Commercial</a></li>
                                    <li class="footer-navigation-item"><a href="/academy" target="_self">Blog</a></li>

                                </ul>
                            </div>
                            <div class="footer-navigation-group col-xs-6 col-sm-4 col-md-6">
                                <ul>
                                    <li class="footer-navigation-item"><a href="/testimonials-and-reviews.aspx" target="_self">Testimonials</a></li>
                                    <li class="footer-navigation-item"><a href="/trading-terms.aspx" target="_self">Trading Terms</a></li>
                                    <li class="footer-navigation-item"><a href="/privacy-policy.aspx" target="_self">Privacy Policy</a></li>

                                </ul>
                            </div>

                        </div>
                    </nav>
                </div>

                <!-- 03. Shop by Brand -->
                <div class="hidden-xs hidden-sm hidden-md col-lg-2">
                    <aol-shop-by-brand></aol-shop-by-brand>
                    <!--<aol-select class="pull-right" model="inputs.brands" name="brand" options="brands" label="Shop By Brand" is-required="true"></aol-select>-->
                </div>

            </div>
            <!-- End Footer Navigation Block -->

             <!-- Start Footer Info -->
            <div class="footer-icons row" ng-class="{'border-top': !isFooterDisabled}">
                <div class="social-wrapper col-xs-12 col-md-5 pull-right-md">
                    <ul class="social pull-right-md">
                        <li><a href="http://www.facebook.com/AppliancesOnline.com.au" target="_blank"><i class="icon-social-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/appliancesau/" target="_blank"><i class="icon-social-instagram"></i></a></li>
                        <li><a href="http://twitter.com/appliancesAU" target="_blank"><i class="icon-social-twitter"></i></a></li>
                        <li><a href="http://www.youtube.com/appliancesonlineau" target="_blank"> <i class="icon-social-youtube"></i></a></li>
                        <li><a href="http://pinterest.com/appliancesau/" target="_blank"> <i class="icon-social-pinterest"></i></a></li>
                        <li><a href="https://plus.google.com/109525580488948967778" target="_blank"><i class="icon-social-gogle"></i></a></li>
                    </ul>
                </div>
                <div class="payment-wrapper col-xs-12 col-md-7 pull-left-md">
                    <ul class="payment">
                        <li><div class="payment-item"><img data-src="https://www.appliancesonline.com.au/images/fe/footer/visa.svg" /></div></li>
                        <li><div class="payment-item"><img data-src="https://www.appliancesonline.com.au/images/fe/footer/mastercard.svg" /></div></li>
                        <li><div class="payment-item"><img data-src="https://www.appliancesonline.com.au/images/fe/footer/americanexpress.svg" /></div></li>
                        <li><div class="payment-item"><img data-src="https://www.appliancesonline.com.au/images/fe/footer/paypal.svg" /></div></li>
                        <li><a href="/interest-free-info/" target="_self"><div class="payment-item"><img data-src="https://www.appliancesonline.com.au/images/fe/footer/once.png" /></div></a></li>
                     </ul>
                 </div>
            </div>
             <!-- End Footer Info -->

            <!-- Start Newsletter -->
            <aol-newsletter-signup  ng-hide="isFooterDisabled"></aol-newsletter-signup>

            <!-- End Newsletter -->

            <!-- Start Footer Info -->
            <div class="footer-info row">
                <div class="company-details col-xs-12 col-sm-12 col-lg-6">
                    <span class="copyright">
                        <span>© 2004 - {{ currentYear }} AppliancesOnline.com.au</span>
                    </span>

                    <span class="abn">
                        <span>ACN 151 833 546</span>
                        <span>ABN 19 151 833 546</span>
                    </span>

                </div>
                <div class="address col-xs-12 col-sm-12 col-lg-6">
                    <p class="pull-right-lg">
                        <span class="mr-20">Level 2, 20A Danks Street, Redfern NSW 2016</span>
                        <span>1300 000 500</span>
                    </p>
                </div>
            </div>
            <!-- End Company Info -->

        </div>
    </footer>
    <!-- End Footer -->


     <!-- Footer Banner -->
    <div class="sale-banner-footer" data-floating-footer image-path="{{sale.floatingFooterBannerImagePath}}" ng-class="{'active': floatingFooter.isOpened, 'hidden': !floatingFooter.hasBanner}">

        <div class="__image-wrapper" ng-if="floatingFooter.floatingFooterBannerImagePath">
            <button class="__close-button" ng-click="floatingFooter.close()"><i class="icon-cart-big-cross"></i></button>
            <img ng-src="https://www.appliancesonline.com.au{{floatingFooter.floatingFooterBannerImagePath}}" class="__image" usemap="#floating-footer-map"/>
            <map name="floating-footer-map" id="floating-footer-map">
                <area shape="rect" coords="0,45,1280,117" alt="Survey" style="outline:none;" href="https://www.appliancesonline.com.au/sale/" onclick="" target="_self">
            </map>
        </div>

    </div>
    <!-- Footer Banner-->


    <!-- No Scripts -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KNDTGS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End No Scripts -->


    
            <script src="https://www.appliancesonline.com.au/js/vendor.js"></script>
            <script src="https://www.appliancesonline.com.au/js/main.js"></script>
    

</body>
</html>


