"<!-- FIX FOR NOT DISPLAYING ON MOBILE --> <script> document.body.style['overflow-x'] = 'visible'; </script>    <script type=""text/javascript"" src=""//display.ugc.bazaarvoice.com/static/AppliancesOnline/en_AU/bvapi.js""></script>                <script>              $BV.container('global'