"<h1>Installation Information</h1> <p>Appliances Online values our customers and strives to provide a complete hassle free service at a great price so you can have a worry free experience.</p> <h2>Free Connections for Refrigerators