"<h1>Appliances Online: Factory Seconds </h1>  <h2>We'll show you how you can get a brand new appliance with a factory seconds price tag!</h2>   <p> Why buy factory second appliances when you could buy brand new top-brand fridges