"<link rel=""stylesheet"" type=""text/css"" href=""/images/opt/buying-guides/buying-guide-styles.css"" /> <div class=""buying-guide-main"">   <h1>   Appliances Online Buyer's Guide to PVRs  </h1>  <h2>   What is a PVR?  </h2>  <p>   A PVR stands for <strong>Personal Video Recorder</strong>