<h1>Appliances Online: Thank you </h1> <p> Your message has been sent. A staff member from Appliances Online will be in touch shortly. Please ensure that emails from Appliances Online are added to your safe receivers list in your email program to ensure it does not get caught as spam.</p>