"<h1>What is Induction Cooking?</h1>  <iframe style=""margin:0 0 0 15px"" width=""450"" height=""253"" src=""https://www.youtube.com/embed/PIgYXmBUAEs"" frameborder=""0"" allowfullscreen align=""right""></iframe>  <p>Induction cooktops have become incredibly popular in recent times